{
    {{ if (eq (getv "/self/container/service_index") "1") }}"bootstrap": true,{{else}}
    "retry_join": [{{ $containerName := getv "/self/service/containers/0"}}"{{getv (printf "/containers/%s/primary_ip" $containerName)}}"],
    "bootstrap": false,{{end}}
    "server": true,
    "datacenter": "dc1",
    "advertise_addr": "{{getv "/self/container/primary_ip"}}",
    "bind_addr": "{{getv "/self/container/primary_ip"}}",
    "client_addr": "{{getv "/self/container/primary_ip"}}",
    "data_dir": "/var/consul",
    "encrypt": "{{getv "/services/consul/metadata/enc.key"}}",
    "ca_file": "/opt/rancher/ssl/ca.crt",
    "cert_file": "/opt/rancher/ssl/consul.crt",
    "key_file": "/opt/rancher/ssl/consul.key",
    "verify_incoming": true,
    "verify_outgoing": true,
    {{ if (eq (getv "/services/consul/metadata/acl.enabled") "true") }}
    "acl_datacenter": "dc1",
    "acl_default_policy": "{{getv "/services/consul/metadata/acl.default_policy"}}",
    "acl_down_policy": "{{getv "/services/consul/metadata/acl.down_policy"}}",
    "acl_master_token": "{{getv "/services/consul/metadata/acl.master_token"}}",
    {{ end }}
    "ui": {{getv "/services/consul/metadata/ui.enabled"}}
    "log_level": "INFO"
}
